{
    "presets": ["env", "react"],
    "env": {
        "development": {
          "presets": ["react-hmre"]
        }
    },
    "plugins": [
        ["transform-runtime", {
            "regenerator": true
        }],
        ["transform-object-rest-spread"]
    ]
}
